 * {
	margin:0px;
    padding:0px;	
 }

html{
    background: #bce0d9;
}

section{
    margin: 50px 220px 0px 220px;
}

p {
    font-size: 18px;
    margin-top:20px;     
}

h2 {
    font-size:30px;
    font-family:"Optima, sans-serif";
    
 }

h3 {
    margin-top: 20px;
    font-size: 19px;
}

 nav{
    background-color: #000;
    width: 100%;
    height: 33px;
 }

.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
 
.flex {
    display: flex;
}

.flex-item-1 {
    flex: 1;
}

.basis-auto-width {
    flex: 1 1 auto;
    width: 60px;
}

.item {
    text-align: center;
    font-size: 1.5em;
}

.std-img-header{
    background-image: url("Imagens/header2.jpg");
    width: 100%; 
    height: 200px;
    background-size: cover;
    background-position:center;
  }

.std-img-nav{
    background-image: url(Imagens/estudiofoto2.jpg);
    width: 300px;
    min-height: 200px;
    max-height: 300px;
    margin: 10px;
    padding: 
    background-repeat: no-repeat;
}

.std-img-nav2{
    background-image: url(Imagens/portfolio2.png);
    width: 300px;
    min-height: 200px;
    max-height: 300px;
    margin: 10px;
    background-repeat: no-repeat;
}

.std-img-std1{
    background-image: url(Imagens/estudiofoto.jpg);
    width: 250px;
    height: auto;
    min-height: 100px;
    max-height: 200px;
    margin: 10px;
}

.std-img-std2{
    background-image: url(Imagens/estudiofoto3.jpg);
    width: 250px;
    height: auto;
    min-height: 100px;
    max-height: 200px;
    margin: 10px;
}

.std-img-std3{
    background-image: url(Imagens/estudiofoto4.jpg);
    width: 250px;
    height: auto;
    min-height: 100px;
    max-height: 200px;
    margin: 10px;
}

.std-img-std4{
    background-image: url(Imagens/estudiofoto5.jpeg);
    width: 250px;
    height: auto;
    min-height: 100px;
    max-height: 200px;
    margin: 10px;
}

.std-flex-grow1{
    flex-grow: 1;
}

.std-flex-grow2{
    flex-grow: 2;
}

.std-flex-grow3{
    flex-grow: 3;
}

.std-flex-port{
    flex-wrap: wrap;
    display: inline-flex;
    position: relative;
}

.std-img-port-tam{
    width: auto;
    max-width: 280px;
    min-width: 180px;
    height: auto;
    min-height: 100px;
    max-height: 300px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.std-img-port1{
    background-image: url(Imagens/a1.jpg);  
}
.std-img-port2{
    background-image: url(Imagens/a2.jpg);
} 
.std-img-port3{
    background-image: url(Imagens/a3.jpg);      
} 
.std-img-port4{
    background-image: url(Imagens/a4.jpg);      
} 
.std-img-port5{
    background-image: url(Imagens/a5.jpg);      
} 
.std-img-port6{
    background-image: url(Imagens/a6.jpg);     
}
.std-img-port7{
    background-image: url(Imagens/a7.jpg);      
} 
.std-img-port8{
    background-image: url(Imagens/a8.jpg);      
} 
.std-img-port9{
    background-image: url(Imagens/a9.jpeg);
} 
.std-img-port10{
    background-image: url(Imagens/a10.jpg);
}
.std-img-port11{
    background-image: url(Imagens/a11.jpg);
}
.std-img-port12{
    background-image: url(Imagens/a12.jpg);
}
.std-img-port13{
    background-image: url(Imagens/a13.jpg);
}
.std-img-port14{
    background-image: url(Imagens/a14.jpeg);
}
.std-img-port15{
    background-image: url(Imagens/a15.jpg);
}
.std-img-port16{
    background-image: url(Imagens/a16.jpg);
}

.std-img-test1{
    background-image: url(Imagens/t1.jpeg);
}

.std-img-test2{
    background-image: url(Imagens/t2.jpg);
}
.std-img-test3{
    background-image: url(Imagens/t3.jpg);
}
.std-img-test4{
    background-image: url(Imagens/t4.jpg);
    background-position: top;
    
}


.std-borda{
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 2px 35px 2px 35px;
    border-style: double;
    width: 38px;
}

.std-botao{
    float: right;
    user-select: none;
    padding: 0px 30px 11px 30px;
    text-decoration: none;
    color: #fff;
    margin: auto;
    cursor: pointer;
    white-space: nowrap;
    font-size: 20px;
}

.std-botao:hover{
    background-color: #bce0d9;
    color: black;
}

.std-margin-top{
    margin-top: 20px;
}

.std-float-right{
    float: right;
}

.std-flex-container-around{
    display: flex;
    justify-content: space-around;
}

.std-margin{
    margin: 20px;
}

.std-text-tam{
    font-size: 15px;
}

.std-border-cont{
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
}

.std-botao2{
    user-select: none;
    padding: 0px 30px 11px 30px;
    text-decoration: none;
    color: #000;
    margin: 10px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 20px;
    padding: 3px;
    border: 1px solid #000;
    background-color: #bce0d9;
}
.std-botao2:hover{
    background-color: #000;
    color: #bce0d9;
}


